<form #userPost="ngForm" (ngSubmit)="onSubmitTemplateBased()">

  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your name" [(ngModel)]='student.name' name='name' required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="pat@example.com" [(ngModel)]='student.email' name='email' required>
  </mat-form-field>

  
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]='student.status' name='status' required>
      <mat-option value="active">active</mat-option>
      <mat-option value="inactive">inactive</mat-option>
      <!-- <mat-option *ngFor="let studentIzListe of listaStudenata" value="studentIzListe.status">
        {{studentIzListe.status}}
      </mat-option>-->
    </mat-select>
  </mat-form-field>


  <mat-radio-group aria-label="Select an option" [(ngModel)]='student.gender' name='gender' required>
    <mat-radio-button value='male'>Male</mat-radio-button>
    <mat-radio-button value='female'>Female</mat-radio-button>
  </mat-radio-group>

  

  <div>
    <button mat-focus-indicator mat-raised-button mat-button-base mat-primary type="submit">Submit</button>
    <button mat-focus-indicator mat-raised-button mat-button-base mat-primary mat-dialog-close>
      Cancel</button>
  </div>

</form>